{% extends 'prof/index.html' %}
{% load crispy_forms_tags %}


{% block admin_title  %}
{% block title_adminlte %}
حذف محصول
{% endblock   %}
{% endblock  %}


{% block main %}
{% csrf_token %}
<div class='col-md-9 text-center mx-auto'>
    <div class="card card-danger">
        <div
        class = "card-header"> 
        <h3 class="card-title mb-0 fload-left">حذف محصول</h3>
    </div>
        <div class="cart-body   py-4">
        {% if user.is_superuser %}
            <form action="" method="POST" >
                {% csrf_token %}
           <p>are you sure to delete  (({{product.title}})) </p>    
            <img class= width=85 height=75  src="{{object.image.url}}" alt=""> 
             <button  class = 'btn btn-success'>حذف</button>
            </div>
        </div>
    </div>
</form>
{% else %}
<div class='col-md-9 text-center mx-auto'>
    <div class="card card-danger">
        <div
        class = "card-header"> 
        <h3 class="card-title mb-0 fload-left">حذف محصول</h3>
    </div>
        <div class="cart-body   py-4">
            <p>just site admin can delete post</p>
            </div>
        </div>
    </div>



{% endif %}

{% endblock main %}
    