{% extends 'prof/index.html' %}

{% block admin_title  %}
user information
{% endblock admin_title   %}


{% block main %}
        welcome {{user.get_full_name}}
        
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
               <thead>
               <tr>
                   <th>user</th>
                   <th>Title</th>
                   <th>price/discount</th>
                   <th>Category</th>
                   <th>Status</th>
                   <th>Show/Hidden</th> 
               </tr>
               </thead>
               <tbody>
                   {% for product in object_list %}
                    <tr>
                        <td>
                        {% if product.active == False or user.is_superuser%}
                            <a href="{% url 'product-update' product.slug %}">{{product.title|linebreaksbr}}</a>
                        
                        {% else %}
                        {{product.title|linebreaksbr}}
                        {% endif %}
                        </td>
                        <td>
                            {{product.price}} 
                            <br> <small>{{product.discount_price}}</small>
                        </td>
                        <td><img src="{{product.image.url}}" width='80'></td> 
                        
                        <td>#{{product.category_to_str}}</td> 
                        <td>
                        {% if product.active == True %}
                            <span class='badge badge-success'>منتشر شد</span> 
                            <br><a target='_blank' class='badge badge-primary' href="{% url 'product-detail' product.slug %}">نمایش مقاله در سایت</a>
                        {% else %}
                        <span class='badge badge-danger'>منتشر نشد</span> 
                        
                        <br><a target='_blank' class='badge badge-secondary' href="{% url 'product-preview' product.slug %}">پیش نمایش </a>
                        {% endif %}
                        
                        {% if user.is_superuser %}
                            <br><a target='_blank' class='badge badge-danger' href="{% url 'product-delete' product.slug %}"> حذف </a>
                        {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
               </tbody>
               </table>
                       </div>
                   </div>
               </div>
           </div>
{% endblock main %}
