{% extends '_base.html' %}
{% load i18n %}
{% load humanize %}




{% block content %}



<!-- Checkout Start -->
<form action="{% url 'order-summary' %}" method='get'>
{% csrf_token %}

 
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" placeholder="نام" name='first_name'>
                    </div>
                    {{form.errors.first_name}}
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" placeholder="نام خانوادگی" name='last_name'>
                        
                    </div>
                    {{form.errors.last_name}}
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="example@email.com" name= 'email'>
                    </div>
                    {{form.errors.email}}
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" placeholder="0912 456 789" name='phone_number'>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address Line 1</label>
                        <input class="form-control" type="text" placeholder="ادرس خودرا وارد کنید" name='address'>
                    </div>
                    {{form.errors.address}}
                    <div class="col-md-6 form-group">
                        <label>Country</label>
                            {{form.country}}
                    </div>
                        {{form.errors.country}}

                    <div class="col-md-6 form-group">
                        <label>ZIP Code</label>
                        <input class="form-control" type="text" placeholder="123" name='zip_code'>
                    </div>
                    <div class="col-md-12 form-group">

                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    {% for product in products %}
                    <div class="d-flex justify-content-between">
                        <p>{{product.product.title}} x {{product.quantity}}</p>
                        <p>{{product.product.price|intcomma}}</p>
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">---</h6>
                      {% comment %}   <h6 class="font-weight-medium">$10</h6>
                    </div> {% endcomment %}
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        
                        <h5>${{cart.get_subtotal_price}}</h5>
                        
                    </div>
                </div>
            </div>
                <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
            </div>
            </div>
        </div>
    </div>
</div>
</form>
<!-- Checkout End -->
{% endblock content %}
