{% load static %}
{% load i18n %}
{% load ratings %}


{% load crispy_forms_tags %}
{% load comment_tags %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'product-list' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Detail Start -->

<div class="container-fluid pb-5">
    
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        {% if products.image %} 
                        <img class="w-100 h-100" src="{{products.image.url}}" alt="Image">
                        {% endif %}

                    </div>
                    <div class="carousel-item">
                        {% if products.image2 %}
                        <img class="w-100 h-100" src="{{products.image2.url}}" alt="Image">
                        {% endif %}
                    </div>
                    
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>{{products.title}}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                    {% ratings object %}
                    </div>
                    <small class="pt-1">({{products.comments.count}} {% trans "Reviews" %} Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">{{products.price}}تومان</h3>
                <p class="mb-4"><p>{{products.description|striptags}}</p>

                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                        </div>
                    </div>
                    <a href="{% url 'add-to-cart' products.slug %}"><button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart</button></a>-----
                    <a href="{% url 'remove-from-cart' products.slug %}"><button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> delete
                        prodcut</button></a>
                </div>

            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">{% translate "Description" %}</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">{% translate 'Information' %}</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">{% trans 'Reviews' %} ({{products.comments.count}})</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">{% trans "Product Description" %}</h4>
                        <p>{{products.description|striptags}} </p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">{% trans "Additional Information" %}</h4>
                        <p></p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        SIZE: {{products.size}}
                                    </li>
                                    <li class="list-group-item px-0">
                                        GENDER:  {{products.gender}}
                                    </li>
                                    <li class="list-group-item px-0">
                                    WEAR: {{products.wear}}
                                    </li>
                                    <li class="list-group-item px-0">
                                        COLOR: {{products.color}}
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">{{products.comments.count}} {% trans "review for" %}  "{{products.title}}"</h4>
                                <div class="media mb-4">                                        
                                    <div class="media-body">
                                        {% for comment in products.comments.all|only_active_comments %}
                                        
                                        <h6>{{comment.author.username}}<small> - <i>{{comment.datetime_created}}</i></small></h6>
                                        <div class="text-primary mb-2">
                                        {% trans "points for product" %} : {{comment.stars}}   
                                        </div>
                                        <p>{{comment.title}}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4"> {% trans " Leave a review" %}</h4>
                                <small> {% trans "Your email address will not be published. Required fields are marked *" %} </small>
                                <div class="d-flex my-3">
                                    <p class="mb-0 mr-2"> {% trans " Your Rating * :" %}</p>
                                    <div class="text-primary">
                                            {{comment.stars}}
                                    </div>
                                </div>
                                <form action="{% url 'comment-create' products.id%}"   method='POST'>
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <input type="submit" value='ارسال'>
                                </form>
                                </div>

                            </div>
                        </div>

                    </div>


                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>