{% extends '_base.html' %}
{% load static %}
{% load i18n %}
{% load ratings %}


{% load crispy_forms_tags %}
{% load comment_tags %}


{% block page_title %} {% trans "جزییات محصول" %} جزییات محصول{% endblock page_title %}


{% block content %}

{% if object.vip %}
    {% if user.is_authenticated and user.is_special_user or  user.is_author or user.is_superuser %}
        {% include 'products/detail.html' %}
    {% else %}    
    <div
            class = "card-header"> 
            <h3 class="card-title mb-0 fload-left">اضافه کردن محصول</h3>
        
    <div class='mx-3' >
    <p> JUST FOR VIP USERS</p> 

    <p>اشتراک  ویژه تهیه بکنید </p> 
        <a class = 'btn btn-success' href="#">خرید اشتراک</a>
    </div>
    </div>
    {% endif %}
{% else %}    
    {% include 'products/detail.html' %}  
{% endif %}

{% endblock %}