{% extends '_base.html' %}
{% load static %}
{% load ratings %}
{% load humanize %}



{% block page_title %} لیست محصولات{% endblock page_title %}


{% block content %}   

<!-- Carousel Start -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3 "><span class="bg-secondary pr-3">محصولات پربازدید ماه</span></h5>
                <div class="bg-light p-4 mb-30">
                   {% for a in popular_articles %}
                    <p><a href="{% url 'product-detail'  a.slug%}" class= 'text-dark'>{{a.title}}</a></p>
                   {% endfor %}
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                {% comment %} <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="price-all">All Color</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">Black</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-2">
                            <label class="custom-control-label" for="color-2">White</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-3">
                            <label class="custom-control-label" for="color-3">Red</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-4">
                            <label class="custom-control-label" for="color-4">Blue</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="color-5">
                            <label class="custom-control-label" for="color-5">Green</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div> {% endcomment %}
                <!-- Color End -->

                <!-- Size Start -->
                {% comment %} <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Size</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1">XS</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-2">
                            <label class="custom-control-label" for="size-2">S</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-3">
                            <label class="custom-control-label" for="size-3">M</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-4">
                            <label class="custom-control-label" for="size-4">L</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="size-5">
                            <label class="custom-control-label" for="size-5">XL</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                    </form>
                </div> {% endcomment %}
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->
               
                   
                

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">

                    </div>
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100  width-85 height-100 " src="{{product.image.url}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="{{product.get_absolute_url}}"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            views : {{product.hits.count}}

                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="{{product.get_absolute_url}}">{{product.title}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{product.price|intcomma}}تومان</h5><h6 class="text-muted ml-2"><del>{{product.discount_price|intcomma}}تومان</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <div>{% ratings product %}</div>
                                    <small>({{product.comments.count}})</small>
                                </div>
                                <div>
                                    {% comment %} <p><a href="{% url 'user' user.username  %}">{{product.user.get_full_name}}</p></a> {% endcomment %}
                                    <small>
                                        {% for cat in product.category_published.all %}
                                        <a href="{% url 'category' cat.slug %}">#{{cat.title}}</a>
                                        {% endfor %}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</span></a></li>
                            {% endif %}
                            <li class="page-item active"><a class="page-link" href="?page={{page_obj.page_number}}">{{page_obj.number}}</a></li>
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                            {% endif %}
                            {% comment %} <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li> {% endcomment %}
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->




    {% endblock content %} 